# Python 관련
*.py[cod]
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
.eggs
*.log

# 가상 환경 관련
venv/
ENV/
env/
env.bak/
venv.bak/

# VSCode 관련
.vscode/
*.code-workspace

# IntelliJ 관련
.idea/
*.iml
*.iws
*.ipr
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/artifacts

# 배포 관련
build/
dist/
*.wheel
*.egg-info/
.eggs/
pip-wheel-metadata/

# 테스트 관련
.coverage
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# 설정 파일
*.env
.env.*

# 파이썬 디버깅
*.cover
*.coverage.*
*.coveragerc

# 기타
*.DS_Store
Thumbs.db
